<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HoyoLauncherProject.Core.Settings.HoyoLauncher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HoyoLauncherProject.HoyoLauncher" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HoyoLauncherProject.Core.Settings.HoyoLauncher>
            <setting name="HONKAI_IMPACT_THIRD_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="GENSHIN_IMPACT_DIR" serializeAs="String">
                <value>H:\\Genshin Impact</value>
            </setting>
            <setting name="HONKAI_STAR_RAIL_DIR" serializeAs="String">
                <value>H:\\Star Rail</value>
            </setting>
            <setting name="ZENLESS_ZONE_ZERO_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="CURRENT_SELECTED" serializeAs="String">
                <value />
            </setting>
        </HoyoLauncherProject.Core.Settings.HoyoLauncher>
        <HoyoLauncherProject.HoyoLauncher>
            <setting name="HONKAI_IMPACT_THIRD_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="GENSHIN_IMPACT_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="HONKAI_STAR_RAIL_DIR" serializeAs="String">
                <value />
            </setting>
            <setting name="ZENLESS_ZONE_ZERO_DIR" serializeAs="String">
                <value />
            </setting>
        </HoyoLauncherProject.HoyoLauncher>
    </userSettings>
</configuration>